.container {
  width: 90%;
  min-height: 100px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px #bdbdbd;
  margin-top: 50px;
}

label {
  display: inline-block;
  margin-right: 20px;
}

input {
  outline: none;
  padding: 5px;
}

.bar {
  display: inline-block;
  height: 10px;
  border-radius: 5px;
  transition: width 0.75s ease-in-out;
}

.display {
  display: inline-block;
  margin-right: 100px;
}

.bar-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color: #f3f3f3;
  height: 10px;
  border-radius: 5px;
  margin-top: 20px;
}

.chart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.note p {
  width: max-content;
  margin: 100px auto;
}
